<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050916701307-ogn4eeemu2ssesv7r9434grsgbptclcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050916701307-ogn4eeemu2ssesv7r9434grsgbptclcf</string>
	<key>API_KEY</key>
	<string>AIzaSyAl617HThXcsNNHDh40YLYMmcq6CkTNz8U</string>
	<key>GCM_SENDER_ID</key>
	<string>1050916701307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CafeManager</string>
	<key>PROJECT_ID</key>
	<string>cafe-manager-caabc</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-manager-caabc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050916701307:ios:2daef7ceec6c989cf6cede</string>
	<key>DATABASE_URL</key>
	<string>https://cafe-manager-caabc-default-rtdb.firebaseio.com</string>
</dict>
</plist>